nav.navbar {
  background-color: #bbbbbb;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000000;
  height: 10%;
  align-content: center;
  font-size: 200%;
  padding-left: 2%;
}
nav.navbar div.actions{
  display: flex;
  align-content: right;
}
main {
  padding-top: 3%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:not(:nth-of-type(odd)):not(:last-child) {
  border-bottom: 1px solid #000000;
}
td.time {
  text-align: right;
  vertical-align: top;
  overflow: visible;
}
td.checkbox {
  text-align: center;
}